<div class="form-group">
    <label for="title">Title</label>
    <input required value="<%= blog.title %>" type="text" name="title" id="title" class="form-control">
</div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control"><%= blog.description %></textarea>
</div>

<div class="form-group">
    <label for="body">Body</label>
    <textarea required name="body" id="body" class="form-control"><%= blog.body %></textarea>
</div>

<div class="form-group">
    <label for="tags">Tags</label>
    <textarea name="tags" id="tags" class="form-control"><%= blog.tags %></textarea>
</div>
<br>
<a href="/blogs/<%= user.id %>" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Publish</button>