<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Tech-Blog App</title>
</head>
<body>
    <div class="container">
        <div class="position-relative mt-4">
            <div class="position-absolute top-0 end-0">
                <a href="/auth/logout" class="btn btn-danger">Log Out</a>
            </div>
        </div>
        <h1 class="mb-4">My Blog List</h1>
        <h4>Welcome, <%= user.lastName %></h4>
        <a href="/blogs/new/<%= user.id %>" class="btn btn-success">New Blog</a>
        <a href="/blogs/allBlogs/<%= user.id %>" class="btn btn-dark">All Bloggers Blogs</a>

        <% blogs.forEach(blog=>{ %>
            <div class="card mt-4">
               <div class="card-body">
                <h4 class="card-title"> <%= blog.title %> </h4>
                <div class="card-subtitle text-muted mb-2">
                    <%= blog.createdAt.toLocaleDateString() %>
                </div>
                <div class="card-text mb-2"><%= blog.description %></div>
                <a href="/blogs/see/<%= blog.id %>/<%= user.id %>" class="btn btn-primary">Read More</a>
                <a href="/blogs/edit/<%= blog.id %>" class="btn btn-info">Edit</a>
                <form action="/blogs/<%= blog.id %>/<%= user.id %>?_method=DELETE" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
               </div>
            </div>
       <% }) %>
    </div>
</body>
</html>